name: 'check docs'
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  changed-files:
    runs-on: ubuntu-latest
    name: test changed-files
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v29.0.4
        with:
          files: docs/**

      - name: Check to see if docs folder changed
        if: steps.changed-files.outputs.any_changed == 'false'
        run: |
          echo "Docs have not been regenerated."
          exit 1 

  # verify-changed-files:
  #   runs-on: ubuntu-latest
    # steps:
  #     - uses: actions/checkout@v2

  #     - name: Verify Changed files
  #       uses: tj-actions/verify-changed-files@v11.1
  #       id: verify-changed-files
  #       with:
  #         files: |
  #           docs/*.json
  #           docs/*.html

  #     - name: Checked files
  #       run: |
  #         echo "checking files"

  #     - name: Run step only when files have not changed.
  #       if: steps.verify-changed-files.outputs.files_changed == 'false'
  #       run: |
  #         echo "Make sure to update: ${{ steps.verify-changed-files.outputs.changed_files }}"

  # build:
  #   runs-on: ubuntu-latest  # windows-latest | macos-latest
  #   name: Test changed-files
  #   steps:
  #     - uses: actions/checkout@v3
  #       with:
  #         fetch-depth: 0  # OR "2" -> To retrieve the preceding commit.

  #     - name: Get changed files
  #       id: changed-files
  #       uses: tj-actions/changed-files@v29.0.4

  #     - name: List all changed files
  #       run: |
  #         for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
  #           echo "$file was changed"
  #         done


